<!DOCTYPE html>
<html lang="es">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Formulario de ingreso</title>
      <link rel="shortcut icon" href="/images/favicon.jpg">
      <link rel="stylesheet" href="./css/normalize.css">
      <link rel="stylesheet" href="./css/styles.css">
      <script src="https://kit.fontawesome.com/a415905aa4.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <body>
            <header class="main-header">
                 <div class="main-header-top-bar">
                     <img src="./images/logo-mercado-liebre.svg" alt="Logo_Mercado_Liebre" title="Logo_Mercado_Liebre"
                         id="logo_mercadoLiebre">
                 <div class="cont-search">
                     <input type="search" id="gsearch" name="gsearch" placeholder="Buscar productos, marcas">
                     <button><i class="fas fa-search"></i></button>
                 </div>
                     <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
                             crédito
                     </h2>
                 </div>
                   <a href="#" class="hamburguer-buttom">
                   <i class="fas fa-bars"></i>
                 </a>   
                 <nav class="main-nav-bar">
                     <ul class="left-narvar">
                         <li><a href="#">Ofertas</a></li>
                         <li><a href="#">Tiendas Oficiales</a></li>
                         <li><a href="#">Vender</a></li>
                         <li><a href="#">Ayuda</a></li>
                     </ul>
         
                     <ul class="rigth-narvar">
                         <li><a href="#">Creá tu cuenta </a> <i class="far fa-id-card"></i></li>
                         <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                         <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                     </ul>
                 </nav>           
      </header>
      <div class="bg-login">
        <h1>Formulario de registro</h1>
        <form action="/">
          <div class="content-login">
            <label for="user" class="label-form">Nombre de usuario</label>
            <input type="text" name="user" id="user" required minlength="4">
            <label for="password" class="label-form">Ingresá tu contraseña</label>
            <input type="password" name="password" id="password" required minlength="6">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
      <footer>
        <div class="content-footer">
          <i class="fas fa-credit-card"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
          <i class="fas fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
          <i class="fas fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
    
      </footer>
      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </body>
    
    </html>

























<!-- formulario -->
<div class="register">
    <h1>Formulario de registro</h1>
    <form action="/" method="POST" class="create-form"> 
    <div class="control-register">
        <label for="name" class="label-register">Nombre y apellido</label>
        <imput type="text" class="control" name="name" id="name" required minlength="3">
        <label for="user" class="label-register">Nombre de usuario</label>
        <imput type="text" name="user_name" id="user_name" class="control" required minlength="4">
        <label for="born" class="label-register">Fecha de nacimiento</label>
        <imput type="date" name="born" id="born">
        <label for="adress" class="label-register">Domicilio</label>
        <imput type="text" name="adress" id="adress">
        <label for="profile" class="label-register">Perfil de usuario</label>
        <br>
        <div class="profile_user_name">
          <label class="label_profile"></label>
          <br>
          <label class="label_profile"></label>
          <br>
        </div>
          <br>
          <label for="category" class="label-register">Categorías de interés</label>
          <label class="label-category"><input type="checkbox" name="category" value="Electro">Electro</label>
          <label class="label-category"><input type="checkbox" name="category" value="Moda">Moda</label>
          <label class="label-category"><input type="checkbox" name="category" value="Hogar">Hogar</label>
          <label class="label-category"><input type="checkbox" name="category" value="Juguetería">Juguetería</label>
          <label class="label-category"><input type="checkbox" name="category" value="Vida sana">Vida sana</label>
          <br>
          <label for="photo" class="label-register">Foto de usuario</label>
          <input type="file" name="photo" id="photo">
          <label for="password" class="label-register">Contraseña</label>
          <input type="password" name="password" id="password" required minlength="6">
          <label for="confirm" class="label-register">Confirmación contraseña</label>
          <input type="confirm" name="confirm" id="confirm" required minlength="6">
          <div class="buttom-form">
            <button type="reset" class="buttom-reset">Borrar</button>
            <button type="submit">Enviar</button>
          </div>
        </div>
       </div>
     <div>
        <label>Está en oferta</label>
        <imput type="radio" name="enOferta">
    </div>
    <button type="reset">Enviar</button>
    <button type="summit">Guardar</button>
    
</form>